////
/// Utils for Sass.
///
/// @author Yufi
////

///
/// reduce
/// 
/// Reduce list to value.
///
/// @access private
///
/// @example scss - Reduce function
///   @function add($p, $c, $i, $l) {
///     @return $p + $c;
///   }
///
///   reduce((1, 2, 3), add, 0); //=> 6
///
/// @todo pre-check.
///
/// @param {List} $li - List
/// @param {Function} $func - Apply function
/// @param {Any} $init - Init value
///
/// @return {Any}
/// 
@function reduce($li, $func, $init) {
    $idx: 0;
    $val: $init;
    $len: length($li);
    $i: 0;
    @while $i < $len {
	$val: call($func, $val, nth($li, $i + 1), $i, $li);	
	$i: $i + 1;
    }

    @return $val;
}

///
/// is-true
///
/// Check list item that all ture. Used for reduce
/// function and export styles.
///
/// @access private
///
/// @example scss - is-true function
///   is-true(true, false); //=> false
///   is-true(true, true); //=> true
///
/// @todo pre-check.
///
/// @param {Boolean} $prev - Prev value
/// @param {Boolean} $current - Current value
/// @param {Number} $idx - Index of current value
/// @param {List} $list - List
///
/// @return {Boolean}
///
@function is-true($prev, $current, $idx, $list) {
    @if $prev and $current {
	@return true;
    } @else {
	@return false;
    }
}

///
/// export
///
/// Export styles with condition.
///
/// @access publie
///
/// @example scss - export mixin
///   export(true) {
///     .test {
///       display: none;
///     }
///   }
///
/// @param {List} $flags - Conditions
///
@mixin export($flags...) {
    @if reduce($flags, is-true, true) {
	@content;
    }
}
