//设置头像区域变量
$_avatar_border:none;
$_avatar_width:4rem;
$_avatar_height:4rem;
//按钮区域
$button_padding:0.5rem 0.8rem;
$button_color:#ccc !default;
$button_radius:0.3rem;
//表单样式变量
$form_width:100%;
$form_color:#ccc;
$form_padding:0 0 0 0;
$form_size:1.5rem;
$form_border:0.2rem solid #333;
//tabs切换变量
$_tabs_width:100%;//tabs总的宽度
$__active_bgcolor:#f90;//选中title的背景色。
$___title_height:2.5rem;//设置行高。
$__active_color:#fff;//选中title的字体颜色。
$_list_select_lineheight:2rem;//设置select的line-height以及height
$_list_select_padding:0 0 0 0;//tabs的内容列表用select标签。

//列表区域变量；
$_table_tr_td_btn_width:2rem;
$_table_tr_td_btn_lineheiht:1rem;